venv/
markdown/
.env
.env.docker
.env.production
__pycache__
.vscode/
TaskFlow/
taskFlow-prod/
venv/
logs/

k8s/01-secrets.yaml

# Ignore all markdown files
*.md

# But keep README.md
!README.md

taskflow-cli/venv
