
# ====== Storage ======
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc 
  namespace: taskflow
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi  # Request 1GB of disk space


---

# ===== Postgres Service -- only the pgbouncer talks to this service =====
apiVersion: v1
kind: Service 
metadata:
  name: postgres-internal  # this is the hostname "connect to the postgres-internal"
  namespace: taskflow 
spec:
  ports: 
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres # send traffic to pods labbelled as "app: postgres"
  type: ClusterIP

---

# Postgres Database => The Database container 
apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: postgres
  namespace: taskflow
spec:
  serviceName: "postgres-internal"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:  # defines the template of the container 
    metadata:
      labels: 
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          # resources the container is allowed to use 
          resources:
            requests:
              memory: "256Mi"   # DBs need more RAM to start
              cpu: "250m"       # 25% of a core
            limits:
              memory: "512Mi"   # Cap at 512MB to prevent crashes
              cpu: "500m"       # Cap at 50% of a core
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: taskflow-db-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: taskflow-db-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: taskflow-db-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
    volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc


---

# =========== pgBouncer (The Middleman) ===========

# PgBouncer Service (Public Entrypoint)
apiVersion: v1
kind: Service
metadata:
  name: taskflow-pgbouncer 
  namespace: taskflow
spec:
  ports:
    - port: 6432
      targetPort: 6432
  selector:
    app: pgbouncer
  type: ClusterIP

---

# PgBouncer Deployment 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  namespace: taskflow
spec:
  replica: 1
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec: 
      containers: 
        - name: pgbouncer
          image: edoburu/pgbouncer:latest
          resources:
            requests:
              memory: "64Mi"  # Minimum memory required
              cpu: "100m"     # Minimum CPU (10% of a core)
            limits:
              memory: "128Mi" # Maximum memory allowed
              cpu: "250m"     # Maximum CPU (25% of a core)
          ports:
            - containerPort: 6432
          env:
            # connects the internal postgres service to the service defined above 
            - name: DB_HOST
              value: "postgres-internal"
            - name: DB_PORT
              value: "5432"
            - name: LISTEN_PORT
              value: "6432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: taskflow-db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: taskflow-db-secret
                  key: POSTGRES_PASSWORD
            # Connection Pooling Settings
            - name: AUTH_TYPE
              value: "scram-sha-256"  # defualt for the pgbouncer 
            - name: POOL_MODE
              value: "transaction"
            - name: MAX_CLIENT_CONN
              value: "1000"
            - name: DEFAULT_POOL_SIZE
              value: "20"

