apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: taskflow
spec:
  # In K8s, we start with 2 for high availability.
  # The HPA (Autoscaler) will adjust this number between 1 and 10 automatically.
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: ghcr.io/dhruvkshah75/taskflow-worker:latest
          imagePullPolicy: Never 
          
          # Load ALL Configs and Secrets
          envFrom:
            - configMapRef:
                name: taskflow-app-config
            - configMapRef:
                name: taskflow-db-config
            - configMapRef:
                name: taskflow-redis-config
            - secretRef:
                name: taskflow-db-secret
            - secretRef:
                name: taskflow-redis-secret
            - secretRef:
                name: taskflow-app-secret
          
          # Environment Overrides & DNS Fixes
          env:
          - name: REDIS_HOST_HIGH
            # FIX: Use Fully Qualified Domain Name to bypass DNS search issues
            value: "redis-high.taskflow.svc.cluster.local"
          - name: REDIS_HOST_LOW
            # FIX: Use Fully Qualified Domain Name
            value: "redis-low.taskflow.svc.cluster.local"
          - name: DATABASE_URL
            value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/$(POSTGRES_DB)"
          
          # Resource Limits (CRITICAL FOR HPA)
          # this allows 20 workers to run 
          resources:
            requests:
              memory: "64Mi"   # Was 128Mi -> Now 64Mi (Half the size)
              cpu: "50m"       # Was 100m -> Now 0.05 CPU
            limits:
              memory: "256Mi"  # Was 1Gi -> Now capped at 256Mi
              cpu: "500m"      # Was 1000m -> Now capped at 0.5 CPU